body {
  margin: 0;
  font-family: 'Acme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #ccc;
  /* border-radius: 4px; */
}

a{
  text-decoration: none;
  color: black;
}

.header{
  z-index: 100;
  background-color: #0F7173;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
